<!-- <p>columns-dialog works!</p>
<mat-checkbox>Check me!</mat-checkbox> -->

<h2 mat-dialog-title style="text-align: center;">Show / Hide Columns</h2>

	<div mat-dialog-content >
	  <p style="text-align: center;">Check a column to hide OR uncheck to show!</p>

	  <mat-checkbox>First Name</mat-checkbox>
	  <mat-checkbox>Last Name</mat-checkbox>
	  <mat-checkbox>Date of birth</mat-checkbox>
	  <mat-checkbox>Phone Number</mat-checkbox>
	  <mat-checkbox>National ID.</mat-checkbox>
	  <mat-checkbox>Personal Address</mat-checkbox>
	  <mat-checkbox>Program Name</mat-checkbox>
	  <mat-checkbox>Started Date</mat-checkbox>
	  <mat-checkbox>Last Updated By</mat-checkbox>

	</div>

