<!-- <p>columns-dialog works!</p>
<mat-checkbox>Check me!</mat-checkbox> -->


<mat-form-field>
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>



<h2 mat-dialog-title style="text-align: center;">Show / Hide Columns</h2>

	<div mat-dialog-content >
	  <p style="text-align: center;">Check a column to hide OR uncheck to show!</p>

	  <mat-checkbox>First Name</mat-checkbox>


	</div>

