.tree-view {
  text-align: left;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  min-width: 370px;
  margin-right: 30px;
  max-height: 360px;
  overflow: auto;
  padding: 10px 5px;
  margin-top: 38px;
}
.top-heading{
   padding: 10px 15px;
}
.datatable-row-odd{
  background: grey;
}
.mat-form-field {
    padding-left: 30px;
    padding-right: 30px;
}
.is-program-stage {
  min-height: 90px !important;
  min-width:50px;
  min-width:250px;
  display: table;
}
.is-program-stage-cell {
  width:50px;
  padding: 5px 10px;
  display: table-cell;
}
.datatable-header {
  min-height: 90px !important;
}
.datatable-header-cell {
    text-align: center;
    padding: .9rem 1.2rem;
    font-weight: 400;
    vertical-align: top !important;
    font-size: 14px;
}

.container-all {
  margin-top: 5%;
}